
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

body {
    background-color: rgb(65, 17, 17);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.calculator {
    padding: 15px;
    background-color: rgb(26, 26, 26);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 40%;
    min-width: 200px;
    max-width: 300px;
    box-shadow: 3px 3px 0px 2px black;
}

div.row {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

button {
    flex: auto;
    width: 40px;
    height: 35px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 800;
    background-color: rgb(102, 102, 102);
    border: 2px solid rgb(35, 35, 35);
    color: rgb(247, 247, 247);
    box-shadow: 3px 2px 0px 1px black;
    padding: 5px;;
}

p.output-text {
    background-color: rgb(48, 48, 48);
    height: 55px;
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    text-align: right;
    align-content: flex-end;
    font-size: 16px;
    color: rgb(158, 158, 158);
    font-weight: 800;
    box-shadow: -1px 1px 0px 2px rgb(14, 14, 14);
}

#credit {
    position: fixed;
    bottom: 5px;
    text-decoration: none;
    color: rgb(30, 7, 7);
}

#equation {
    flex-grow: 3;
}

.dark-gray {
    background-color: rgb(67, 67, 67);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(23, 23, 23);
}

.red {
    background-color: rgb(72, 22, 22);
    border: 2px solid rgb(31, 1, 1);
    color: rgb(255, 255, 255);
}

/* Interaction effects */

button:hover {
    background-color: rgb(133, 133, 133);
}

.red:hover {
    background-color: rgb(100, 5, 19);
}

.dark-gray:hover {
    background-color: rgb(88, 88, 88);
}